/Lab1/Task*/bin/*
/Lab1/Task*/obj/*
/Lab2/Task*/bin/*
/Lab2/Task*/obj/*
/Lab5/Task*/bin/*
/Lab5/Task*/obj/*
/Lab6/Task*/bin/*
/Lab6/Task*/obj/*
/Lab7/Task*/bin/*
/Lab7/Task*/obj/*
/Lab8/Task*/bin/*
/Lab8/Task*/obj/*
/Lab9/Task*/bin/*
/Lab9/Task*/obj/*
/Lab9/Task*/test*